<?xml version ="1.0" encooding = "UTF-8"?>
<widget xmls = "http://www.w3.org/ns/widgets" 
		xmls:gap="http://phonegap.com/ns/1.0"
		id		="com.phonegap.api-request"
		version	="1.0.0">
		<name> My First App</name>
		<preference name ="Fullscreen" value ="true"/>
		<description> This Application is my first hybrid application</description>
		<icon src ="images/logo.png"/>
</widget>
